<ion-header>
  <ion-toolbar>
    <ion-title>Your Orders</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let order of orders" class="item">
      <ion-label>{{ order.product }} x{{ order.quantity }}</ion-label>
      <ion-label slot="end">{{ order.quantity * order.price | currency }}</ion-label>
    </ion-item>
  </ion-list>
  <div class="total-price">
    <ion-label>Total:</ion-label>
    <ion-label>{{ calculateTotalPrice() | currency }}</ion-label>
  </div>
</ion-content>
