ion-header {
    --ion-background-color: #f58003; // Couleur de fond de l'en-tête
  }
  
  ion-toolbar {
    --ion-color-base: #fff; // Couleur de base du texte dans la barre d'outils
  }
  
  ion-title {
    font-size: 1.5em; // Taille de la police pour le titre
    font-weight: bold; // Police en gras
  }
  
  ion-button {
    --ion-color-base: #fff; // Couleur de base du bouton
    --ion-color-hover: #e0e0e0; // Couleur du survol du bouton
  }
  
  ion-content {
    --ion-background-color: #f4f5f8; // Couleur de fond du contenu
  }
  
  ion-item {
    --ion-background-color: #fff; // Couleur de fond de l'élément de liste
    --border-radius: 10px; // Rayon des bords de l'élément de liste
    --inner-padding-start: 16px; // Espacement interne à gauche de l'élément de liste
    --inner-padding-end: 16px; // Espacement interne à droite de l'élément de liste
    margin-bottom: 10px; // Marge en bas de chaque élément de liste
  }
  
  .item {
    display: flex; // Affichage en ligne des éléments de liste
    justify-content: space-between; // Alignement des éléments de liste sur toute la largeur
  }
  
  .total-price {
    display: flex; // Affichage en ligne pour le prix total
    justify-content: space-between; // Alignement du prix total sur toute la largeur
    padding: 16px; // Espacement interne autour du prix total
    font-weight: bold; // Police en gras pour le prix total
  }
  