<ion-tabs>  

  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button (click)="goToFrame()">
      <ion-icon name="home-outline"></ion-icon>
        </ion-fab-button>
 <ion-tab-bar slot="bottom" class="ion-no-border" onclick="goToSettings()">
  <ion-tab-button tab="tab-encounters">
    <ion-icon name="settings-outline"></ion-icon>
  </ion-tab-button> 

  <ion-tab-button tab="tab-profile" onclick="goToProfile()">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
